/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------*/

div.header {
    display: none;
}

div.section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

div.logo a img {
    height: 35px;
}

nav.navigation {
    display: none;
}

.line {
    display: none;
}

nav.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

nav.navigation.active a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 0.15rem;
}

img.menu.hide {
    display: none;
}

img.close {
    display: none;
}

img.close.show {
    display: flex;
}

div.model {
    display: flex;
    justify-content: center;
}

div.model img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
}

div.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #060606;
    color: #FAF0E1;

}

div.footer ul {
    padding: 50px;
}

div.footer ul li {
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
}

div.footer ul li h1 {
    font-size: 1.75rem;
}

div.footer ul li a {
    text-decoration: none;
    color: #FAF0E1;
    font-size: 15px;
}

div.footer ul li a img {
    width: 40px;
    height: 40px;
}

div.footer ul li p {
    font-size: 20px;
}


div.footer ul li img {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

div.footer.hide {
    display: none;
}

div.footer ul li a
{
    font-size: 20px;
}

div.footer ul li p
{
    font-size: 20px;
}

ul.odkazy h2
{
    font-size: 30px;
    padding-bottom: 50px;
}



@media only screen and (min-width: 991px) {
    div.header {
        background-color: #FAF0E1;
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: serif Catamaran;
        font-size: 10px;
        letter-spacing: 0.15rem;
    }

    div.header ul {
        display: contents;
    }

    div.header li a {
        padding-right: 6em;
        text-decoration: none;
        color: #060606;
    }

    nav.navigation {
        display: flex;
    }

    nav.navigation a {
        text-decoration: none;
        padding: 10px 45px 10px 10px;
        font-size: 1.25em;
        color: black;
    }



    div.section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        letter-spacing: 0.2em;
    }

    div.section a {
        padding: 5px 10px 5px 50px;
    }

    .line {
        font-size: 25px;
        display: inline-block;
        padding: 0 10px 5px 50px;
    }

    div.toggleBox {
        display: none;
    }

    div.footer {
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    div.footer ul
    {
        margin: 100px 0 50px 0;
        padding-top: 10px;
        width: 35%;
    }

    div.footer ul:nth-child(1)   {
        border-right: 1px solid #FAF0E1;
    }


    ul.logo li img
    {
        padding-top: calc((100% / 2)/2);
    }

    div.footer ul:nth-child(2) li  {
        text-align: left;
        margin-left: 30px;
    }

    div.footer ul li img {
        width: 300px;
    }

}