div.zoznammain.hide
{
    display: none;
}



div.zoznam
{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}

.zoznammain h2
{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

div.zoznam ul li
{
    padding-bottom: 20px;
    text-align: center;
}

div.zoznam ul li a
{
    text-decoration: none;
    color: black;
}